@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--color-primary: 255 165 0;
		--font-antonio: 'Antonio Variable', sans-serif;
		--font-montserrat: 'Montserrat Variable', sans-serif;
	}
}

@layer utilities {
	* {
		box-sizing: border-box;
	}

	body {
		color: white;
		background-color: black;
		font-family: theme('fontFamily.montserrat');
	}

	img {
		max-width: 100%;
		display: block;
	}

	button {
		outline: none;
	}

	button:active {
		opacity: 0.8;
	}

	h1,
	h2,
	h3,
	h4,
	h5 {
		font-family: theme('fontFamily.antonio');
	}
}
