@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
}

body {
	color: white;
	background-color: black;
}

img {
	max-width: 100%;
	display: block;
}

button {
	outline: none;
}

button:active {
	opacity: 0.8;
}
